<mat-card class="card">
  <mat-card-subtitle class="card-subtitle">
    <div *ngIf="!inEditMode">{{todoItem.message}}</div>
    <mat-form-field *ngIf="inEditMode" class="form-field" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Please insert the next todo" [(ngModel)]="todoItem.message"></textarea>
    </mat-form-field>
  </mat-card-subtitle>
  <mat-card-actions align="end" [class.form-actions-edited]="inEditMode">
    <button *ngIf="!inEditMode" mat-icon-button color="primary" (click)="down.emit(todoItem._id)"[disabled]="last"><mat-icon>arrow_downward</mat-icon></button>
    <button *ngIf="!inEditMode" mat-icon-button color="primary" (click)="up.emit(todoItem._id)" [disabled]="first"><mat-icon>arrow_upward</mat-icon></button>
    <button *ngIf="!inEditMode" mat-icon-button color="primary" (click)="toggleEdit()"><mat-icon>edit</mat-icon></button>
    <button *ngIf="inEditMode" mat-icon-button color="primary" (click)="toggleEdit()"><mat-icon>check</mat-icon></button>
    <button *ngIf="!inEditMode" mat-icon-button color="primary" (click)="finish.emit(todoItem._id)"><mat-icon>delete_forever</mat-icon></button>
  </mat-card-actions>
</mat-card>
